.App {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://image.freepik.com/free-photo/vintage-camera-pencil-open-laptop-twig-isolated-white-background_23-2147979091.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  /* height: 100%; */
}
h1 {
  height: 10%;
  padding-top: 1%;
  /* margin-bottom: 10px; */
}
.card {
  display: inline-flex !important;
}
.col-2 {
  max-width: 100% !important;
}
.row {
  justify-content: space-around;
}
#model {
  display: flex !important;

}

#glasses:hover {
  opacity: 0.3;
  transition: 0.5s ease;
  cursor: pointer;
}
img{
  width: 100%;
  
}
#gm {
  position: absolute;
  top: 90px;
 left:42px;
  height: 125px;
  width: 325px;
 opacity: 0.91;
}
